!!!
%html
%body
  .notification
    .notice
      = render 'layouts/flash'
      = yield

  .chat
    .chat-side-bar
      .chat-side-bar__header
        .chat-side-bar__header__contents
          .chat-side-bar__header__contents__name takao toriyama
          %li.chat-side-bar__header__contents__new-group
            = link_to new_group_path do
              %i.fa.fa-pencil-square-o.icon
          %li.chat-side-bar__header__contents__edit
            = link_to edit_user_path(current_user) do
              %i.fa.fa-cog.icon
      .chat-side-bar__groups
        .chat-side-bar__groups-lists
          .chat-side-bar__group
            .chat-side-bar__group-name
              - current_user.groups.each do |group|
                .chat-side-bar__group-name
                  = group.name

    .chat-main
      .chat-main__header
        .chat-main__header__group.clearfix
          .chat-main__header__group-name Test
          .chat-main__header__group-edit
            = link_to 'Edit', edit_group_path(Group.first)
        .chat-main__header__members
          %li.member Member: Toriyama Takao
      .chat-main__body
        .chat-main__body__messages
          .chat-main__body__messages__1
            .chat-main__body__messages__1-name toriyama takao
            .chat-main__body__messages__1-time 2017/09/05 20:52:52
            .chat-main__body__messages__1-body hoge
      .chat-main__footer
        .chat-main__footer-form
        = form_for [@group, @message] do |f|
        .chat-main__footer-body
          = f.text_field :text, class: "message", placeholder:"type a message"
          %label.chat-file
            = f.file_field :image, class: 'image'
            %i.fa.fa-picture-o
          = f.submit "Send", class: 'submit'
